---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import Button from "@components/ui/button.astro";
---

<Layout title="Account">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Download</Fragment>
      <Fragment slot="desc">Get the Worship Manager installer</Fragment>
    </Sectionhead>
    <div class="max-w-2xl mx-auto flex justify-center items-center gap-5 mt-16">
      <label>
        <select
          id="os-select"
          class="px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100">
          <option selected disabled value="">Select OS</option>
          <option value="windows">Windows</option>
          <option value="linux">Linux</option>
        </select>
      </label>
      <Button style="primary" id="download-button">Download</Button>
    </div>
  </Container>
</Layout>

<script>
  const osSelect = document.getElementById("os-select") as HTMLSelectElement;
  const downloadButton = document.getElementById("download-button") as HTMLLinkElement;

  const reqUrl = import.meta.env.PUBLIC_SERVER_URL;

  downloadButton.onclick = async () => {
    const os = osSelect.value;
    if (!os) return;
    const res = await fetch(`${reqUrl}/api/download/${os}`).then((r) => r.json());
    window.open(res.link, "_blank");
  };
</script>
