---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Demo",
    price: "Free",
    popular: false,
    features: ["Lifetime free", "Only one device at once", "Community Support"],
    button: {
      text: "Get Started",
      link: "/download",
    },
  },
  {
    name: "Monthly",
    price: {
      sale: "$10",
      original: "$12",
    },
    features: ["All Free Features", "Up to 5 devices at once", "Priority Support"],
    button: {
      text: "Buy now",
      link: `/auth/login?redirect=${encodeURIComponent("/buy?plan=monthly")}`,
    },
  },
  {
    name: "Yearly",
    price: {
      sale: "$100",
      original: "$120",
    },
    popular: true,
    features: ["All Free Features", "Up to 5 devices at once", "Priority Support"],
    button: {
      text: "Buy now",
      link: `/auth/login?redirect=${encodeURIComponent("/buy?plan=yearly")}`,
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">Simple & Predictable pricing. No Surprises.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
