---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Demo",
    price: "Free",
    popular: false,
    features: [
      "Lifetime free",
      "Only one device at once",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Monthly",
    price: {
      monthly: "$10",
      original: "$12",
    },
    popular: true,
    features: [
      "All Free Features",
      "Up to 5 devices at once",
      "Priority Support",
    ],
    button: {
      text: "Buy now",
      link: "#",
    },
  },
  {
    name: "Yearly",
    price: {
      monthly: "$8",
      original: "$10",
    },
    popular: true,
    features: [
      "All Free Features",
      "Up to 5 devices at once",
      "Priority Support",
    ],
    button: {
      text: "Buy now",
      link: "#",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
