---
// @ts-ignore
import { Icon } from "astro-icon";

// TODO: edit descriptions
const features = [
  {
    title: "Beautiful and Modern UI",
    description:
      "Worship Manager not only works great, but looks great too. No reason why you shouldn't enjoy what you're looking at.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Easy to use",
    description:
      "We made Worship Manager easy to use while allow you to do complex things if needed.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Control what really matters",
    description:
      "Too many options can be overwhelming. Worship Manager lets you control what really matters, when it matters.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Reliable Software",
    description:
      "Constant updates and bug fixes ensure you're getting the best experience 100% of the time.",
    icon: "bx:bxs-data",
  },
  {
    title: "Vast Media Support",
    description:
		"Worship Manager supports displaying a many media types. From JPEGs to WEBPs, MP4s to MKVs, and even PDFs, we've got you covered.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "We have you in mind",
    description:
      "Our users matter to us. We listen to your feedback and make our software with you in mind.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 id="features" class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Control over your service at your fingertips
  </h2>
  <!-- <p class="text-lg mt-4 text-slate-600"> -->
  <!-- </p> -->
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
